:root {
  --color-bg-white: #FFF;
  --color-bg-garay: #F5F6F8;
  --color-text-base: #3B434E;
  --color-brand-primary: #7653FC;
  --color-pale-red: #FC836D;
  --color-hh-red: #DE0000;
  --color-green: #1DC37E;
  --color-pale-green: #C8F8E4;

  color: var(--color-text-base);
  background-color: var(--color-bg-garay);

  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
}

a, a:visited {
  text-decoration: none;

  color: inherit;
}